api_clien=""
api_client_secret=""
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=""
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=""
NOW_PAYMENT_API=""
FIA_CURRENCY_EXCHANGE_API_KEY=""
INFURA_URL=""
WALLET_PRIVATE_KEY=""
# Optional fallback for HD-derived addresses when WALLET_PRIVATE_KEY is not set.
MNEMONIC=""
USDC_CONTRACT_ADDRESS=""
USDT_CONTRACT_ADDRESS=""
ERC20_LISTENER_START_BLOCK=""
ERC20_LISTENER_BLOCK_CHUNK_SIZE=""
USDC_LISTENER_START_BLOCK=""
USDC_LISTENER_BLOCK_CHUNK_SIZE=""
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST=""
EMAIL_PORT="587"
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_USE_TLS="true"
EMAIL_USE_SSL="false"
DEFAULT_FROM_EMAIL="info@digishelves.com"
DEFAULT_FROM_NAME="DIGISHELVES"
RECAPTCHA_SECRET_KEY=""
CONTACT_RATE_LIMIT_WINDOW_SECONDS="900"
CONTACT_RATE_LIMIT_MAX_PER_IP="5"
CONTACT_RATE_LIMIT_MAX_PER_EMAIL="3"
ANALYTICS_MAX_EVENTS_PER_REQUEST="25"
ANALYTICS_TRAFFIC_WINDOW_DAYS="7"
ANALYTICS_ABANDONED_CART_MINUTES="180"
PUBLIC_SITE_URL="https://digishelves.com"
SITEMAP_GIFTCARD_MAX_PAGES="50"
GIFT_CARD_CACHE_TIMEOUT_SECONDS="122400"
RELOADLY_REQUEST_TIMEOUT_SECONDS="5"
ADMIN_EMAIL=""
ADMIN_AppaS=""
ADMI_SECRET_Code=""
ADMIN_TOKEN_MAX_AGE_SECONDS="43200"
ADMIN_LOGIN_CODE_TTL_SECONDS="600"
ADMIN_LOGIN_LOCKOUT_SECONDS="180"
ADMIN_LOGIN_MAX_FAILURES="3"
ADMIN_NOTIFICATION_EMAIL=""
ADMIN_NOTIFICTION_EMAIL=""
ALLOWED_HOSTS="admin.yourdomain.com,yourdomain.com"
