:root {
    --custombase: #551839;
    --secondary: #10ac84;
}

/* body li {
    font-family: 'Poppins', sans-serif !important;
} */


/* .fade-in-text-from-top span {
    display: inline-block;
    position: relative;
}

.fade-in-text-from-top span:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #2ecc71;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.fade-in-text-from-top span:before {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background: #e74c3c;
    position: absolute;
    bottom: -10px;
    left: 0;
} */

.recharge__paymentbox {
    width: 450px !important;
    border-radius: 1px;
}



.text-with-circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100px;
    border: 3px solid var(--secondary);
    border-radius: 54%;
    transform: translate(20%, -79%) rotate(163deg);
    z-index: -1;
    opacity: 0.5;
}


.text-with-circle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100px;
    border: 3px solid var(--secondary);
    border-radius: 50%;
    transform: translate(15%, -85%) rotate(-11deg);
    z-index: -1;
    opacity: 0.5;
}


.fade-in-list {
    list-style: none;
    padding: 0;
}

.fade-in-item img {
    margin-right: 10px;
    width: 30px;
    height: auto;
}

.fade-in-item {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
    animation-delay: var(--delay);
}

.fade-in-item:nth-child(1) {
    --delay: 0s;
}

.fade-in-item:nth-child(2) {
    --delay: 0.5s;
}

.fade-in-item:nth-child(3) {
    --delay: 1s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.fade-in-text-from-top {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInTop 2s forwards;
}

@keyframes fadeInTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.forgot_password a:hover {
    color: var(--custombase) !important;
    font-weight: 300;
    text-decoration: underline;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}



.user-account .icon {
    font-size: 24px;
    color: white;
    padding: 6px;
    background-color: var(--custombase);
    vertical-align: middle;
    padding-right: 5px !important;
    border-radius: 25px;
    margin-top: 0px;

}

.user-account .name {
    padding-left: 5px;
    /* padding-top: 130px; */
    font-weight: bolder;
}



.user-account {
    padding-left: 10px !important;
    cursor: pointer;
}

.signup__section {
    background-color: var(--custombase) !important;
    height: 100vh !important;
    overflow: auto;
}

.LgbsSe-Bz112c {
    text-align: left;
    margin-right: 10px !important;
    z-index: 0;
    display: block;
    margin-left: 110px;
}

.sign-with-google {
    height: 50px !important;
    font-family: 'Roboto', sans-serif !important;
    color: gray !important;
}

.domain_base {
    text-transform: uppercase;
    color: var(--custombase);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.basecolor_custom {
    color: var(--custombase) !important;
}


.defual-bg::before {
    background-color: var(--custombase);
}

.login-display-error {
    font-size: 13px !important;
    font-weight: normal;
}

.grid__style a {
    text-transform: capitalize !important;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.empty-cart img {
    width: 160px;
    height: auto;
}




.accordion-button:focus {
    box-shadow: none;
    /* Remove box shadow when accordion is focused */
}






.empty-cart p {
    font-weight: bold;
    font-size: 20px;
}

.gift-card-step-2 {
    position: relative;
    margin-top: -40vh;

}


.cart-checkout {
    text-align: center;
}

.sign-with-google {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s, border-color .218s;
    transition: background-color .218s, border-color .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dadce0;
    color: #3c4043;
    cursor: pointer;
    font-family: "Google Sans", arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: red;
}

.sign-with-google svg {
    position: absolute;
    height: 18px;
    margin-right: 8px;
    min-width: 18px;
    width: 18px;
}

.form_error {
    font-size: 13px !important;
    margin-top: 5px;
    margin-bottom: 10px;
}

.custom-input:focus {
    border-color: #2840bf;
    border: 2px solid #2840bf;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
}

.popover-custom {
    position: relative;
    display: inline-block;
    /* margin-top: 100px; */
}



.popover-custom .popover {
    position: absolute;
    top: 20px;
    left: 50%;
    right: 50%;
    transform: translateX(-80%);
    width: 250px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;
    /* display: block; */
}

.user-account-icon {
    font-size: 20px;
    padding-right: 5px;
    color: gray;
    vertical-align: middle;

}

.recharge__paymentbox {
    min-width: 300px !important;
}

.home-page-details {}

.home-page-details .top-message {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    color: lightgray;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 20px !important;
}

.home-page-details h1 {
    font-size: 55px;
    color: white;
    font-weight: 900;
}

.home-page-details h1 span {
    /* background-color: #10ac84; */
    color: var(--secondary);
    border-radius: 5px;
    padding-top: 150px !important;
    margin-bottom: 10px;
    /* padding: 5px 15px; */
    /* font-style: italic; */
    /* font-size: 30px;
    font-weight: 500 !important; */
}

.home-page-details ul li {
    color: white;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: Roboto;

}

.home-page-details ul {
    margin-left: 20px;
}

.Home__banner_section {
    /* background-color: var(--custombase); */
    background: var(--custombase);
    height: 100vh;
    margin-bottom: 0px !important;

    overflow: auto;
}

.cutom-form-input input {
    color: var(--custombase);
    font-weight: bold;
    height: 70px !important;
    width: 100%;
    font-size: 30px;
    margin-top: 5px;
    border-color: var(--custombase);
    border: 1px solid var(--custombase);
    border-radius: 5px;

}

.custom-amount-input h2 {
    margin-top: 10px;
    font-size: 16px;
    color: #800020 !important;
}

.custom-form-input-label {
    color: #000;
    font-size: 25px !important;
    padding-bottom: 5px !important;
}

.more-option {
    cursor: pointer;
}

.user-account-icon-name {
    vertical-align: middle;
    padding-top: 5px;
    text-transform: capitalize;
    font-family: Roboto "Sans serif";
}

.popover-body .list-group-item:hover {
    color: var(--custombase) !important;
}

.popover-custom .popover .arrow {
    position: absolute;
    left: calc(72% - 10px);
    /* Adjust this value to position the arrow */
    top: -10px;
    /* Adjust this value to position the arrow */
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    /* background-color: white; */
    border: 1px solid #ddd;
}

.popover-custom .popover-custom-header {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 5px;
    background-color: none;
}

.popover-custom .popover-body {
    font-size: 14px;
}


.user-account:hover .popover {
    display: block;

}

.secondary_base {
    color: var(--secondary) !important;
}

.custom-input {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.selectCountryinput {
    border-radius: 3px !important;
    width: 100% !important;
    font-weight: bolder;
    font-size: 40px;
    justify-content: start;
    margin-top: 20px !important;
    border-color: var(--custombase) !important;

}

.intl-tel-input {
    width: 100%;
}

.selectCountryinput:focus {
    /* border-color: green !important; */
    /* Change this color to your desired border color */
    /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
    box-shadow: none !important;
    /* Opti
}


.image-display {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;

}

.image-display img {
    vertical-align: middle;
    width: 35px;
    height: auto;
}

.step2-oparator-country {
    vertical-align: middle;
    width: 72px;
    border-radius: 16px;
    background-color: lightgoldenrodyellow;
    padding: 10px 7px 8px 10px;
    margin-right: 20px;
}

.number-span-step2 {
    font-weight: bold;
    color: gray;
    font-size: 19px;
}

.step2-oparator-network {
    vertical-align: middle;
    width: 35px;
    border-radius: 16px;
    margin-left: 15px;
}


.top-up-container {
    width: 100%;
    /* background-color: #f5f5f5; */
    border-radius: 8px;
    padding: 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.flag {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.phone-number {
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary);
}

.operator-logo {
    width: 34px;
    height: auto;
    margin-right: 10px;
}

.edit-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #0056b3;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
    font-weight: normal;
}

.top-up-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

/* .select-offer {
    margin-top: 50px;
    text-align: center;
}

.select-offer button {

    background-color: var(--secondary);
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    border-color: var(--secondary);
} */

.top-up-option {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.selected {
    border-color: None !important;
    border-radius: 5px;
    background-color: var(--custombase);
    color: white;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.selected p {
    color: white !important;
}

.payment-icone {
    width: 30px;
    height: auto;
}

.FormError {
    border: 1px solid red;
}

.label {
    background-color: var(--secondary);
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    margin-right: 10px;
    position: absolute;
    margin-top: -372px;
}

.text__base {
    color: var(--base);
}

.amount {
    font-size: 22px;
    font-weight: bold;
    color: gray;
}

.choose_payment .form-check {
    /* border: 1px solid; */
    padding-left: 35px !important;
}

.selectNetwork .card {
    width: 150px;
    height: 150px;
    margin: 5px;
    text-align: center;
}

.selectNetwork .card img {
    margin: 0 auto;
    width: 70px;
    height: auto;
    margin-top: 15px;

}

.selectNetwork .card b {
    margin-top: 10px;
}

.selectNetwork-active {
    background-color: var(--custombase);
    border-radius: 5px;
}

.selectNetwork-active .card {
    background-color: var(--custombase);
    color: white !important;

}


.buy-button {
    background-color: var(--custombase);
    border: none;
    border-radius: 26px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.receive-airtime {
    position: absolute;
    margin-top: -30px;
    margin-bottom: 10px;

}

.payment-icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.see-plans-button {
    background: none;
    border: 1px solid #0056b3;
    color: #0056b3;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.custom-amount-button {
    background: none;
    border: 1px solid #0056b3;
    color: #0056b3;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.custom-amount-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.custom-amount-input-container input {
    height: 80px !important;
    font-size: 25px !important;
    color: gray !important;
}

.custom-amount-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
}

.selected-payment-details {
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.div-flex-con {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
}



.list-card-price {
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 15px;

}

.giftcard_details_selected .card {
    background-color: var(--custombase);
    color: white;
    font-weight: bold;
}

.giftcard_img {
    width: 100%;
    height: 165px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

.search_img {
    width: 100%;
    max-height: 140px !important;
}

/* .big_image {
    object-fit: cover;
    object-position: center;
    height: 165px !important;
} */

.giftcard_detail {
    display: flex;
    justify-content: flex-end;
}

.giftcard_detail img {
    width: 100%;
    height: auto;
}


.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

.giftcard_img:hover {
    position: relative;
    border-radius: 5px;
    display: block;
    box-shadow:
        5px 5px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    object-fit: cover;
}

.giftcard .countryflag img {
    border-radius: none !important;
    width: 30px;
    height: auto;

}

.most_popular span {
    color: var(--custombase) !important;
    cursor: pointer;
    font-weight: bold;
    /* color: red !important; */
}

.most_popular span:hover {
    text-decoration: underline;
}

.loader {
    width: 70px;
    height: auto;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 400;
}

.loader-container .loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 460;

}


.stacked-image-container {
    position: relative;
    display: inline-block;
}

.stacked-image {
    position: relative;
    border-radius: 20px;
    display: block;
    width: 100%;
    /* Adjust the width as needed */
    height: auto;
    box-shadow:
        5px 5px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.stacked-image-container:hover .stacked-image {
    transform: translateY(-10px);
}

.giftcard_details img {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.menu-active {
    font-weight: bolder;
    background-color: var(--custombase) !important;
    color: white !important;
    padding: 10px 10px !important;
    border-radius: 5px;
    /* padding: 5px 10px; */

}

/* .countryflag_search {
    position: absolute;
    margin-top: -100px;
    margin-right: -200px !important;
    width: 46px !important;
    height: auto;
    padding: 6px;
    background-color: gray;
    border-radius: 5px;

} */

.before-loader-container {
    margin-top: 7vh;
    text-align: center;
    justify-content: center;
    margin-bottom: 25vh;
}

.before-loader-container img {
    width: 400px;
    height: auto;
}

.processing_google_authentication {
    z-index: 299;
    /* background-color: rgba(0, 0, 0, 0.5) !important; */
    opacity: 0.8;
}

@media only screen and (max-width: 1350px) {

    .giftcard_img {
        width: 100%;
        height: 135px;
        border-radius: 10px;
        object-fit: cover;
        overflow: hidden;
    }

    .search_img {
        width: 100%;
        max-height: 100px !important;
    }

    .LgbsSe-Bz112c {
        margin-left: 53px;
    }
}

@media only screen and (max-width: 1000px) {

    .giftcard_img {
        width: 100%;
        height: 125px;
        border-radius: 10px;
        object-fit: cover;
        overflow: hidden;
    }

    .search_img {
        width: 100%;
        max-height: 140px !important;
    }


}

@media only screen and (max-width: 700px) {

    .giftcard_img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        overflow: hidden;
    }

    .search_img {
        width: 100%;
        max-height: 200px !important;
    }
}