:root {
    --custombase: #551839;
}




.basecolor_custom {
    color: var(--custombase) !important;
}

.selected {
    border: 2px solid var(--custombase) !important;
    /* background-color: red; */

}

.defual-bg::before {
    background-color: var(--custombase);
}

.login-display-error {
    font-size: 13px !important;
    font-weight: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto !important;
}

.empty-cart img {
    width: 160px;
    height: auto;
}




.accordion-button:focus {
    box-shadow: none;
    /* Remove box shadow when accordion is focused */
}






.empty-cart p {
    font-weight: bold;
    font-size: 20px;
}

.gift-card-step-2 {
    position: relative;
    margin-top: -40vh;

}


.cart-checkout {
    text-align: center;
}

.sign-with-google {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s, border-color .218s;
    transition: background-color .218s, border-color .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dadce0;
    color: #3c4043;
    cursor: pointer;
    font-family: "Google Sans", arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: red;
}

.sign-with-google svg {
    position: absolute;
    height: 18px;
    margin-right: 8px;
    min-width: 18px;
    width: 18px;
}

.form_error {
    font-size: 13px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-input:focus {
    border-color: #2840bf;
    border: 2px solid #2840bf;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.custom-input {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.image-display {
    display: block;
    position: absolute;
    margin-top: 12px;
    margin-left: 28px;
}

.image-display img {
    vertical-align: middle;
    width: 26px;
    height: auto;
}

.step2-oparator-country {
    vertical-align: middle;
    width: 72px;
    border-radius: 16px;
    background-color: lightgoldenrodyellow;
    padding: 10px 7px 8px 10px;
    margin-right: 20px;
}

.number-span-step2 {
    font-weight: bold;
    color: gray;
    font-size: 19px;
}

.step2-oparator-network {
    vertical-align: middle;
    width: 35px;
    border-radius: 16px;
    margin-left: 15px;
}


.top-up-container {
    width: 100%;
    /* background-color: #f5f5f5; */
    border-radius: 8px;
    padding: 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.flag {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.phone-number {
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    color: #0056b3;
}

.operator-logo {
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

.edit-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #0056b3;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
    font-weight: normal;
}

.top-up-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.top-up-option {
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.selected {
    border-color: #0056b3;
}

.label {
    background-color: #0056b3;
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    margin-right: 10px;
}

.text__base {
    color: var(--base);
}

.amount {
    font-size: 22px;
    font-weight: bold;
    color: gray;
}

.choose_payment .form-check {
    /* border: 1px solid; */
    padding-left: 35px !important;
}

.buy-button {
    background-color: #0056b3;
    border: none;
    border-radius: 26px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.payment-icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.see-plans-button {
    background: none;
    border: 1px solid #0056b3;
    color: #0056b3;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.custom-amount-button {
    background: none;
    border: 1px solid #0056b3;
    color: #0056b3;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.custom-amount-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.custom-amount-input-container input {
    height: 80px !important;
    font-size: 25px !important;
    color: gray !important;
}

.custom-amount-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
}

.selected-payment-details {
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.div-flex-con {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
}



.list-card-price {
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 15px;

}

.giftcard_details_selected .card {
    background-color: var(--custombase);
    color: white;
    font-weight: bold;
}

.giftcard_img {
    width: 100%;
    height: 165px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

.search_img {
    width: 100%;
    max-height: 140px !important;
}

/* .big_image {
    object-fit: cover;
    object-position: center;
    height: 165px !important;
} */

.giftcard_detail {
    display: flex;
    justify-content: flex-end;
}

.giftcard_detail img {
    width: 100%;
    height: auto;
}


.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

.giftcard_img:hover {
    position: relative;
    border-radius: 5px;
    display: block;
    box-shadow:
        5px 5px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    object-fit: cover;
}

.giftcard .countryflag img {
    border-radius: none;
    width: 30px;
    height: auto;

}

.most_popular span {
    color: var(--custombase) !important;
    cursor: pointer;
    font-weight: bold;
    /* color: red !important; */
}

.most_popular span:hover {
    text-decoration: underline;
}

.loader {
    width: 70px;
    height: auto;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 400;
}

.loader-container .loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 460;

}


.stacked-image-container {
    position: relative;
    display: inline-block;
}

.stacked-image {
    position: relative;
    border-radius: 20px;
    display: block;
    width: 100%;
    /* Adjust the width as needed */
    height: auto;
    box-shadow:
        5px 5px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.stacked-image-container:hover .stacked-image {
    transform: translateY(-10px);
}

.giftcard_details img {
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.menu-active {
    font-weight: bolder;
    background-color: var(--custombase) !important;
    color: white !important;
    padding: 10px 10px !important;
    border-radius: 5px;
    /* padding: 5px 10px; */

}

/* .countryflag_search {
    position: absolute;
    margin-top: -100px;
    margin-right: -200px !important;
    width: 46px !important;
    height: auto;
    padding: 6px;
    background-color: gray;
    border-radius: 5px;

} */

@media only screen and (max-width: 1350px) {

    .giftcard_img {
        width: 100%;
        height: 135px;
        border-radius: 10px;
        object-fit: cover;
        overflow: hidden;
    }

    .search_img {
        width: 100%;
        max-height: 100px !important;
    }
}

@media only screen and (max-width: 1000px) {

    .giftcard_img {
        width: 100%;
        height: 125px;
        border-radius: 10px;
        object-fit: cover;
        overflow: hidden;
    }

    .search_img {
        width: 100%;
        max-height: 140px !important;
    }
}

@media only screen and (max-width: 700px) {

    .giftcard_img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        overflow: hidden;
    }

    .search_img {
        width: 100%;
        max-height: 200px !important;
    }
}