.login-display-error {
    font-size: 13px !important;
    font-weight: normal;
}

.sign-with-google {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s, border-color .218s;
    transition: background-color .218s, border-color .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dadce0;
    color: #3c4043;
    cursor: pointer;
    font-family: "Google Sans", arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: red;
}

.sign-with-google svg {
    position: absolute;
    height: 18px;
    margin-right: 8px;
    min-width: 18px;
    width: 18px;
}

.form_error {
    font-size: 13px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-input:focus {
    border-color: #2840bf;
    border: 2px solid #2840bf;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.custom-input {
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.image-display {
    display: block;
    position: absolute;
    margin-top: 12px;
    margin-left: 28px;
}

.image-display img {
    vertical-align: middle;
    width: 26px;
    height: auto;
}